@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    shape-rendering: geometricPrecision;
    user-select: none;
    user-drag: none;
}

html {
  font-size: 16px;
  @media screen(sm) {
    font-size: 20px;
  }
  @media screen(lg) {
    font-size: 24px;
  }
}

body {
  background: rgb(48,48,48);
  background: linear-gradient(180deg, rgba(48,48,48,1) 0%, rgba(64,64,65,1) 100%);
  font-family: "Overpass";
}

p, h1, h2, h3, h4, h5, h6, p, span {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: "Rubik";
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.25rem;
}

h3 {
  font-weight: 600;
  font-size: 2.441rem;
  letter-spacing: -0.25rem;
}

h4 {
  font-weight: 600;
  font-size: 1.953rem;
  letter-spacing: -0.25rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    @apply shadow-lg m-4 rounded-[0.3rem];
  }
  .card.trim {
    border-bottom: 0.4rem solid;
    @media screen(sm) {
      border-bottom: 0.5rem solid;
    }
    @media screen(lg) {
      border-bottom: 0.6rem solid;
    }
  }
  .card.leather {
    background-color: theme(colors.leather);
    border-color: theme(colors.leather-trim);
  }
  .card.papyrus {
    background-color: theme(colors.papyrus);
    border-color: theme(colors.papyrus-trim);
  }
  .card.iron {
    background-color: theme(colors.iron);
    border-color: theme(colors.iron-trim);
  }
  .card.paper {
    background-color: theme(colors.paper);
    border-color: theme(colors.paper-trim);
  }
}
  
