@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    shape-rendering: geometricPrecision;
}

html {
  font-size: 16px;
  @media screen(sm) {
    font-size: 18px;
  }
}

body {
  background: rgb(48,48,48);
  background: linear-gradient(180deg, rgba(48,48,48,1) 0%, rgba(64,64,65,1) 100%);
  font-family: "Overpass";
}

p, h1, h2, h3, h4, h5, h6, p, span {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik";
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.25rem;
}

h3 {
  font-weight: 600;
  font-size: 2.441rem;
  letter-spacing: -0.25rem;
}

h4 {
  font-weight: 600;
  font-size: 1.953rem;
  letter-spacing: -0.25rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
